
body
{
    margin: 0;
    padding: 0;

}

.team-sec
{
    overflow: hidden;
    text-align: center;
    background: #f1f1f1;
    padding: 60px;
}

.team-sec h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #000;
    font-size: 40px;
}

.bordure
{
   display: block;
   margin: auto;
   width: 160px;
   height: 3px;
   background: #3498db;
   margin-bottom: 40px;
}

.photo
{
    margin-bottom: 40px;
}

.photo a 
{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.photo a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.9s all;
    width: 160px;
    height: 160px;


}

.photo a:hover >img{
    filter: none;
    
}

.section
{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: #000;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target
{
    height: auto;
}

.nom
{
    display: block;
    margin-bottom:30px; 
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}


.mini_foot
{
   list-style-type: none;
    
}
.mini_menu
{
    padding: 10px;
    
}



.reseau:hover
{
    transform: scale(0.9);
    transition:0.5s;
    background-color:pink;
 
  
    

}
.reseau{

    box-shadow: 0 5px 5px -5px #00000070;
    color: blue;
    background: #f1f1f1;
    margin: 6px;
    padding: 3px;
    border-radius: 30%;
}
.footer
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid black;
    padding: 20px;
    text-align: center;
    
}

table
{
    border-collapse: collapse;
    width: 100%;
    
}

th 
{
    text-align: center;
   
    border:solid black;
    border-radius: 20px;
    
}

.logo_efrei
{
    margin-top:10px;
    filter: contrast(150%);
    transition: 0.5s all;
    
    
}
.logo_efrei:hover
{
    filter: none;
    transform: scale(0.9);
    

}

li{
    list-style-type: none;
}


.logo_site
{
    width:300px;
    height:200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a:link 
{ 
text-decoration:none; 
} 

#banniere
{
    width: 100%;
	height: 150px;
	background-position:  center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-image: url("img/banniere.png");
}


.desc
{
    text-align: center;
    margin: 5%;
    font: Verdana;
    line-height: 20px;
    font-size: 20px; 
    color:#000;

}

header { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

body { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

footer { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}



.menu-txt
{
    margin-top: 5px;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 0.5px;
    text-decoration: none; 
    color: black;
}

.bouton
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.bouton i 
{
    line-height: 60px;
    font-size: 35px;
    transition: 0.5s linear;

}

.bouton:hover i 
{
    transform: scale(1.35);
    color: #f1f1f1;
}


.bouton:before
{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left:-110%;
    top: 90%;
    
}

.bouton:hover::before
{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa
{

    0%{
     left:-110%;
     top: 90%;

    }50%{
     left:10%;
     top: -30%;

    }100%{
     top: -10%;
     left: -10%;
        
    }

}

footer {
    color: #fff;
}

h4
{
    text-align: center;
    
}


.footer-day-time {
   
    border-bottom: 2px solid #3498db;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    
    
}
.footer-day-time ul li {
    display: inline-block;
    
}


.footer-top {
    background: #113a55;
    padding:10px 0 10px;
}
.footer-top h4 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight:bold;
    margin-top: 5px;
   
}
.footer-top p {
    font-size: 13px;
    line-height: 2;
}

footer p {
  margin-bottom:0;
}

.address1 li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 24px;
    line-height: 18px;
}

.address1 li a {
    color: #fff;
    text-decoration: none;
    
}
.address1 li a:hover
{
    text-decoration: underline;
    
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 28px;
    top: 0;
}

ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
}

.col-md-4
{
    text-align: center;
}

.row
{
    justify-content: space-around;
}


.menu
{
    position: sticky;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #113a55;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
   
}

.menu li
{
    text-align: center;
    display: block;
    border-right: 2px solid rgba(168, 168, 168, 0.2);
    border-left: 2px solid rgba(168, 168, 168, 0.2);
    

}


.menu li a
{
    text-decoration: none;
    padding: 0 50px;
    display: block;


}

.menu li a .makeup
{
    width: 40px;
    height: 40px;
    text-align: center;
    
    overflow: hidden;
    margin: 0 auto 10px;
}


.menu li a .makeup .fas
{
    width:100%;
    height:100%;
    line-height:40px;
    font-size:32px;
    transition: 0.5s;
    color:#fff;

}
.menu li a:hover .makeup .fas
{
    transform: translateY(-100%);
}


.menu li a .makeup .fas:last-child
{
    color: #000;
}

.menu li a .txt 
{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.menu li a .txt span
{
    display: block;
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    transition: 0.54s;
    
}

.menu li a .txt span:before
{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
}


.menu li a:hover .txt span
{
    transform: translateY(20px);
}
@media (max-width:1195px) 
{
    .logo_efrei
    {
        margin-top:10px;
        filter: contrast(150%);
        transition: 0.5s all;
        text-align: center;
        
        
        
        
    }
    .logo_efrei:hover
    {
        filter: none;
        transform: scale(0.9);
        

    }

}

@media (max-width:991px) 
{

    
    .col-md-4
    {
       min-width: 540px;
    }



}

.footer-bottom-wrapper {
    font-size: 0.8em;
    color: #fff;
    background: #0f3349;
  }
  .footer-address {
    display: inline;
    font-style: normal
  }